<header class="bg-red-500 text-white p-4 shadow-md">
  <nav class="container mx-auto flex justify-between items-center">
    <ul class="flex space-x-4">
      <li>
        <a
          href="/"
          class="hover:bg-red-400 py-2 px-4 rounded transition duration-300"
          >Airbnb</a
        >
      </li>
      <% if(isLoggedIn)  { %>
        <% if(user && user.userType === 'guest') { %>
          <li>
            <a
              href="/home"
              class="hover:bg-red-400 py-2 px-4 rounded transition duration-300"
              >Homes</a > 
          </li>
          <li>
            <a
              href="/favourite"
              class="hover:bg-red-400 py-2 px-4 rounded transition duration-300"
              >Favourites</a>
      
          </li>
          <li>
            <a
              href="/bookings"
              class="hover:bg-red-400 py-2 px-4 rounded transition duration-300"
            >Bookings</a>
          </li>
        <% }else if(user && user.userType === 'host') { %>
          <li>
            <a
              href="/host/host-home-list"
              class="hover:bg-red-400 py-2 px-4 rounded transition duration-300"
              >Host Homes</a
            >
          </li>
          <li>
            <a
              href="/host/add-home"
              class="hover:bg-red-400 py-2 px-4 rounded transition duration-300"
              >Add Home</a
            >
          </li> 
          <% } %>
          <form action="/logout" method="POST">
          <button 
           type="submit"
           class="hover:bg-red-400  rounded transition duration-300">
            logout
          </button>
        </form>
        <li>
        <a href="/signout"
        class="hover:bg-red-400 py-2 px-4 rounded transition duration-300"
        >Sign Out</a>
      </li>
      <%   }else   { %>
        <% if(!isLoggedIn) { %>
         <li>
        <a
          href="/login"
          class="hover:bg-red-400 py-2 px-4 rounded transition duration-300"
          >Login</a
        >
      </li>
      <li>
        <a href="/signup"
        class="hover:bg-red-400 py-2 px-4 rounded transition duration-300"
        >Sign In</a>
      </li>
      <% } %>
      
      <% } %>
        



    </ul>
  </nav>
</header>